/*FONT IMPORT---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
  src: url(../fonts/Lobster-Regular.ttf);
  font-family: "Lobster";
}
@font-face {
  src: url(../fonts/Lato-Black.ttf);
  font-family: "Lato Black";
}
@font-face {
  src: url(../fonts/Lato-Bold.ttf);
  font-family: "Lato Bold";
}
@font-face {
  src: url(../fonts/Lato-Regular.ttf);
  font-family: "Lato Regular";
}
@font-face {
  src: url(../fonts/Nexa-Bold.otf);
  font-family: "Nexa Bold";
}
@font-face {
  src: url(../fonts/Nexa-Light.otf);
  font-family: "Nexa Light";
}
/*GENERAL-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
  padding: 0px;
  margin: 0px;
  font-family: "Lato Regular", "monospace";
  color: rgba(26, 26, 26, 1);
}
body {
  background-color: rgba(255, 255, 255, 1);
}
*::selection {
  background: rgba(254, 190, 64, 1);
  color: rgba(255, 255, 255, 1);
}
/*MENU ABOUT----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.menu_about {
  background-color: rgba(255, 255, 255, 1);
  height: 7.5vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.logo_menu_about {
  position: relative;
  height: 80%;
  padding-left: 6vw;
  top: 10%;
  bottom: 10%;
  color: rgba(26, 26, 26, 1);
}
.menu_text_about {
  float: right;
  padding-right: 6vw;
  padding-top: 2.6vh;
}
.menu_text_about li {
  list-style: none;
  display: inline-block;
  float: left;
}
.menu_text_about li a {
  font-family: "Lato Black", "monospace";
  color: rgba(26, 26, 26, 1);
  text-decoration: none;
  font-size: 2.3vh;
  padding: 0 4vh;
  display: block;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.menu_text_about li a:hover {
  color: rgba(254, 190, 64, 1);
}
/*INTRODUCTION ABOUT--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.introduction_about {
  background: linear-gradient(135deg, rgba(254, 190, 64, 0.6) 0%, rgba(245, 153, 49, 0.6) 55%, rgba(236, 117, 35, 0.2) 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.margin_int_about {
  position: relative;
  top: 47vh;
}
.margin_int_about h1 {
  font-family: "Lato Black", "monospace";
  color: rgba(255, 255, 255, 1);
  font-size: 6vh;
  text-align: center;
}
.margin_int_about h1::selection {
  background: rgba(255, 255, 255, 1);
  color: rgba(254, 190, 64, 1);
}
.coffee_about {
  background-image: url("../images/coffee.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -999;
}
/*ABOUT ME------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about_me {
  width: 100%;
  height: 30vh;
  background-color: rgba(255, 255, 255, 1);
}
.about_me p {
  font-family: "Lato Regular", "monospace";
  color: rgba(26, 26, 26, 1);
  padding-top: 6vh;
  padding-left: 9vw;
  font-size: 3vh;
}
/*FOOTER ABOUT--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer_about {
  width: 100%;
  height: 6.4vh;
  background-color: rgba(255, 255, 255, 1);
}
.footer_about p {
  color: rgba(26, 26, 26, 1);
  font-size: 1.6vh;
  padding-left: 9vw;
  padding-top: 2.4vh;
  padding-bottom: 0vh;
}
.footer_about a {
  color: rgba(26, 26, 26, 0.7);
  font-size: 1.6vh;
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.footer_about a:hover {
  color: rgba(26, 26, 26, 1);
}
