/*FONT IMPORT---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
  src: url(../fonts/Lobster-Regular.ttf);
  font-family: "Lobster";
}
@font-face {
  src: url(../fonts/Lato-Black.ttf);
  font-family: "Lato Black";
}
@font-face {
  src: url(../fonts/Lato-Bold.ttf);
  font-family: "Lato Bold";
}
@font-face {
  src: url(../fonts/Lato-Regular.ttf);
  font-family: "Lato Regular";
}
@font-face {
  src: url(../fonts/Nexa-Bold.otf);
  font-family: "Nexa Bold";
}
@font-face {
  src: url(../fonts/Nexa-Light.otf);
  font-family: "Nexa Light";
}
/*GENERAL-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
  padding: 0px;
  margin: 0px;
  font-family: "Lato Regular", "monospace";
  color: rgba(26, 26, 26, 1);
}
body {
  background-color: rgba(255, 255, 255, 1);
}
*::selection {
  background: rgba(80, 184, 107, 1);
  color: rgba(255, 255, 255, 1);
}
/*MENU PORTFOLIO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.menu_port {
  background-color: rgba(255, 255, 255, 1);
  height: 7.5vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.logo_menu_port {
  position: relative;
  height: 80%;
  padding-left: 6vw;
  top: 10%;
  bottom: 10%;
  color: rgba(26, 26, 26, 1);
}
.menu_text_port {
  float: right;
  padding-right: 6vw;
  padding-top: 2.6vh;
}
.menu_text_port li {
  list-style: none;
  display: inline-block;
  float: left;
}
.menu_text_port li a {
  font-family: "Lato Black", "monospace";
  color: rgba(26, 26, 26, 1);
  text-decoration: none;
  font-size: 2.3vh;
  padding: 0 4vh;
  display: block;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.menu_text_port li a:hover {
  color: rgba(80, 184, 107, 1);
}
/*INTRODUCTION PORTFOLIO----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.introduction_port {
  background: linear-gradient(135deg, rgba(80, 184, 107, 0.6) 0%, rgba(65, 160, 111, 0.6) 55%, rgba(38, 110, 75, 0.2) 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.margin_int_port {
  position: relative;
  top: 47vh;
}
.margin_int_port h1 {
  font-family: "Lato Black", "monospace";
  color: rgba(255, 255, 255, 1);
  font-size: 6vh;
  text-align: center;
}
.margin_int_port h1::selection {
  background: rgba(255, 255, 255, 1);
  color: rgba(80, 184, 107, 1);
}
.northern_port {
  background-image: url("../images/northern.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -999;
}
/*WORKS PORTFOLIO-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.works_port {
  width: 100%;
  height: 52vh;
  background-color: rgba(26, 26, 26, 1);
  text-align: center;
}
.works_port p {
  font-family: "Lato Black", "monospace";
  background: linear-gradient(to right, rgba(80, 184, 107, 1) 0%, rgba(60, 60, 200, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 4vh;
  font-size: 4vh;
}
.table_works_port {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.col_works_port {
  display: table-cell;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 7.5vh;
  width: 12vw;
}
.col_works_port img {
  display: table-cell;
  width: 14vw;
  padding: 0;
  border: 0.3vw solid rgba(80, 184, 107, 1);
}
/*FOOTER PORTFOLIO----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer_port {
  width: 100%;
  height: 6.4vh;
  background-color: rgba(255, 255, 255, 1);
}
.footer_port p {
  color: rgba(26, 26, 26, 1);
  font-size: 1.6vh;
  padding-left: 9vw;
  padding-top: 2.4vh;
  padding-bottom: 0vh;
}
.footer_port a {
  color: rgba(26, 26, 26, 0.7);
  font-size: 1.6vh;
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.footer_port a:hover {
  color: rgba(26, 26, 26, 1);
}
